body{
    
}
header{
    text-align: center;
}
.title{
    text-align: center;
   
}

.form{
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}
.form input[type = "text"]{
    
    margin: 1% auto 0 auto;
    width: 100%;
    padding: 2%;
    margin: 0.5%;
    
}
.form button{
    background-color: #4CAF50;
    font-size: 1rem;
    color: white;
    width: 100%;
    padding: 2%;
    margin: 0.5%;
    
}
.qrimage{
    
    position: absolute;
    top: 20%;
    left: 38%;
    height: 50%;
    background-color: white;
    z-index: 999;
    width: 50%;
    border: 1px solid black;

    

    
}
img{
    margin: 0 auto;
    width: 30%;
    height: 30%;
    object-fit: cover;
}

.imageBlock{
    width: 100%;
    margin: 5% auto 0 auto;
    display: flex;
    justify-content: center;
}


button{
    background-color: #4CAF50;
    font-size: 1rem;
    color: white;
    width: 50%;
    padding: 2%;
    
    
}

.butt{
    width: 100%;
    margin: 5% auto 0 auto;
    display: flex;
    justify-content: center;
}
.butt a{
    background-color: #4CAF50;
    font-size: 1rem;
    color: white;
    width: 50%;
    padding: 2%;
    text-decoration: none;
    
    
}
.cards{
    width: 100%;
    margin: 2% auto 0 auto;
    display: flex;
    justify-content: center;
}
.card{
    width: 80%;
    background-color: white;
    border-radius: 1.5rem;
    padding: 2%;
    text-align: center;
    display: flex;
    flex-direction: row;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    
}
.card div{
    width: 100%;
}
.card a{
    width: 100%;
    text-decoration: none;
    color: black;
    display: flex;
}
.warning{
    color: red;
    margin: 0.5%;
    font-weight: 700;
}
.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Darken the background */
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .control{
    display: flex;
  }
 

  .edit {
    width: 100%;
    display: grid;
    align-content: center;
    background-color: #4CAF50;
    border-radius: 1rem;
    color: white;
    text-align: center;
  }
  .edit a{
    margin: 0;
    padding: 0.5rem 1rem 0.5rem 1rem;
    color: white;
    text-align: center;
  }

  .delete{
    width: 100%;
  }
  .delete button{
    margin: 0;
    padding: 0.5rem 1rem 0.5rem 1rem; 
    text-align: center;
    background-color: red;
    border: none;
    border-radius: 1rem;
  }
  @media (max-width: 320px){
  
  
  }
  @media (max-width: 425px){
  
    .cards{
        width: 100%;
        margin: 2% auto 0 auto;
        display: flex;
        justify-content: center;
    }
    .card{
        
        background-color: white;
        border-radius: 1.5rem;
        padding: 2%;
        text-align: center;
        display: flex;
        flex-direction: row;
        box-shadow: 0 0 10px rgba(0,0,0,0.5);
        font-size: 2.5vw;
        
    }
    .card div{
        width: 100%;
    }
    .card a{
        width: 100%;
        text-decoration: none;
        color: black;
        display: flex;
    }
    .control{
        font-size: 2.5vw;
        display: flex;
      }
     
    
      .edit {
        width: 100%;
        display: grid;
        align-content: center;
        background-color: #4CAF50;
        border-radius: 0.5rem;
        color: white;
        text-align: center;
      }
      .edit a{
        font-size: 2.5vw;
        margin: 0;
        padding: 0.5rem 1rem 0.5rem 1rem;
        color: white;
        text-align: center;
      }
    
      .delete{
        width: 100%;
      }
      .delete button{
        font-size: 2.5vw;
        margin: 0;
        padding: 0.5rem; 
        text-align: center;
        background-color: red;
        border: none;
        border-radius: 0.5rem;
      }
  }