body{
    background-color: aliceblue ;
    
}
main{
    
    display: flex;
    justify-content: center;
    
}
.container{
    width: 80%;
    background-color: rgb(255, 255, 255);
    margin-top: 10%;
    padding: 1rem;
    height: 40%;
   
}
.container input[type = "text"]{
    width: 100%;
    padding: 1rem;
    margin: 1.5rem 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
.container input[type = "password"]{
    width: 100%;
    padding: 1rem;
    margin: 1.5rem 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
.container button{
    width: 100%;
    padding: 1rem;
    margin: 1rem 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}
@media (min-width: 320px) and (max-width: 425px){
*{
    font-size: 0.5rem;
}
}