
body{
    background-color: aliceblue ;
}
.cards{
    margin-top: 3%;
    
    
    
}
.container{
    text-align: center;
}
.cards{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    padding:2%;
    margin: 1% auto 0 auto;
    width: 90%;
    background-color: #fff;
    border-radius: 1rem;
    box-shadow: 0 0 8px rgba(0,0,0,0.2);
}
.card >div{
    margin: 1rem;
}
.boldtxt{
    margin-top: 0.5%;
    width: 20vw;
    font-weight: bold;
    text-align: center;
}
.regul{
    margin-top: 0.5%;
    width: 40vw;
    text-align: center;
}
.card>div{
    display: flex;
   
}

@media (min-width: 320px) and (max-width: 425px) {
    *{
        font-size: 1rem!important;
    }
    .card{
        width: 100%;
        margin: 0 auto;
    }
    .boldtxt{
        width: 100%;
        margin: 0.5rem!important;
        
    }
    .regul{
        margin: 0.5rem!important;
        width: 100%;
    }
    
    .card>div{
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        margin: 0.5rem;
    }
    
    
}

 

